.profile {
  height: 90%;
  background-color: rgb(0, 0, 0);
  padding-top: 10vh;
  padding-bottom: 10vh;
  gap: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 3%;
}


.profileCore {
  padding-top: 30px;
  padding-bottom: 30px;
  opacity: 0.9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 70vh;
  background-color: rgb(41, 37, 37);
  color: rgb(255, 255, 255);
  border:2px;
  border-color: aqua;
  border-style: solid;
  border-radius: 5%;
}

.myList {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(41, 37, 37);
  color: rgb(255, 255, 255);
  border:2px;
  border-color: aqua;
  border-style: solid;
  border-radius: 5%;
}

.image {
  background: rgb(178, 95, 6);
  width: 14rem;
  height: 16rem;
  border:2px;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(41, 37, 37);
  width: 100%;
  height: 30vh;
  border-radius: 3%;
}

.userName {
  font-size: x-large;
  padding-top: 20px;
}

.bioHeader {
  font-size: large;
  padding-top: 20px;
}

.bioText {
  font-size: small;
  padding-left: 20px;
}

.emailAddress {
  padding-top: 70px;
}

.changePass {
  background: linear-gradient(0deg, grey, grey);
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  border: 0;
  border-radius: 5%;
  width: 70%;
  height: 40px;
  margin-top: 50px;
  color: white;
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: 0px 2px rgba(0, 0, 0, 0.2);
  letter-spacing: 1.5px;
  cursor: pointer;
}
