.profile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: calc(100vh - 2.5rem);
}

.profileCore {
  display: flex;
  margin: 2rem;
  width: 90%;
  height: 50%;
  background: rgb(46, 6, 224);
  padding: 2rem;
  gap: 1rem;
  border-radius: 15px;
  border-color: black;
  border-style: solid;
  border-width: 3px;
}

.myList {
  display: flex;
  margin: 2rem;
  width: 90%;
  height: 50%;
  background: rgb(39, 29, 126);
  padding: 1rem;
  gap: 1rem;
  border-radius: 15px;
  background-image: url("../userProfile/images/stars.png");
  color: aliceblue;
}

.image {
  background-image: url("./images/avatar.png");
  background-repeat: no-repeat;
  width: 30%;
  border-color: black;
  border-radius: 15px;

}

.description {
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  width: 100%;
  border-color: black;
  border-style: solid;
  border-width: 3px;
  border-radius: 15px;
}