
.cont{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
}

.search {
  font-size: larger;
  width: 30%;
  color: white;
  background: #0e2c51;
  border-radius: 2rem;
  box-shadow: 0 4px 30px rgb(0 0 0 / 10%);
  backdrop-filter: blur(10.2px);
  -webkit-backdrop-filter: blur(10.2px);
  margin: 10px;
  padding: 2rem;
  order: 1;
}

textarea:focus, input:focus{
  outline: none;
}