.cont{
  display:flex;
  justify-content: center;
  align-items: center;
}

.seeMore{
  z-index: 999;
  font-size: small;
  color:white;
  background: rgba(51, 187, 207, 0.84);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.2px);
  -webkit-backdrop-filter: blur(10.2px);
  margin:10px;
  padding:5px 20px;
  background: linear-gradient(144.39deg, #FFFFFF -278.56%, #6D6D6D -78.47%, #11101D 91.61%);
}

.seeMore:hover{
  transform: scale(1.05);
}
