.Display{
  color:white;
  background-color: #33bbcf;
  margin: 10px;
  border-radius: 6px;
  flex: 1 0 21%;
  min-width: 200px;
  min-height: 270px;
  max-width: 200px;
  max-height: 270px;
}

.Display:hover{
  transform: scale(1.1);
}
.items{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
img{
  width: 200px;
  height: 200px;
  border-radius: 15px;
}

h2{
font-size: 120%;
text-align: center;
}

h3{
text-align: center;
}

