nav {
  display: flex;
  width: 100%;
  top: 0;
  background-color: rgba(45, 45, 45, 1);
  justify-content: space-between;
}

.navLinks {
  color: #e9e3d5;
  margin: 0 0 0 80px;
  padding: 1rem;
  text-transform: uppercase;
}

.home  {
  justify-self: left;
  align-self: left;
}

nav > a {
  text-decoration: none;
 }