@import url("https://fonts.googleapis.com/css?family=Raleway:400,500,700");

body {
  background: #11101d;
  width: 100%;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 0.125rem;
}

.heading-3 {
  text-transform: uppercase;
  font-size: 0.625rem;
  font-weight: 700;
  padding-bottom: 1.25rem;
}

.app-container {
  display: flex;
  margin: 5% auto;
  width: 60vw;
  height: 80vh;
  box-shadow: 0rem 0rem 3.125rem rgb(97,221,186);
}

.item-container .item-image {
  height: 37.5rem;
}

.item-image-src{
  width: 25rem !important;
  height: 22rem !important;
}


.item-image {
  z-index: 1;
  padding-left: 1rem;
}

.item-details {
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0.15625rem;
  margin-bottom: 0.9375rem;
  padding-left: 5.625rem;
  /* margin-left: 20px; */
}

.item-name {
  color: white;
  font-size: 1.5625rem;
  font-weight: 700rem;
  text-transform: uppercase;
}

.item-price {
  font-size: 1.5625rem;
  font-weight: 700;
  color: #33bbcf;
}

.checkout {
  height: 80vh;
  background: #2f2c33;
  color: white;
  padding: 2.1875rem 1.5625rem;
}

.checkout-container {
  padding: 2.1875rem 1.5625rem;
}

.input {
  padding: 0.3125rem 0rem;
}

.input label {
  font-size: 0.5rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #78757c;
}

.input input {
  width: 100% !important;
  padding: 0.315rem 0.625rem !important;
  color: white;
  letter-spacing: 0rem;
  font-size: 0.875rem;
  background: 0;
  border: 0 !important;
}

.input input:focus {
  outline: 0;
}

.input-field {
  border: 0.0625rem solid #78757c;
  border-radius: 0.3125rem;
  position: relative;
}

.input-field img {
  width: 1.5625rem;
  height: auto;
  position: absolute;
  right: 0;
  top: 0.3125rem;
  margin-right: 0.3125rem;
}

/* Removes form Controls  */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

input[type="month"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  display: none;
}

input[type="month"]::-webkit-calendar-picker-indicator {
  -webkit-appearance: none;
  display: none;
}

.apple-pay-btn {
  background-color: black;
  width: 100%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.crypto-btn {
  background-color: blue;
  width: 100%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.product-col {
  background-color: black;
  height: 80vh;
  width: 100%;
}

.no-gutters {
  width: 100%;
  height: 80vh;
}

.checkout-btn {
  background: linear-gradient(
    157.81deg,
    #def9fa -43.27%,
    #bef3f5 -21.24%,
    #9dedf0 12.19%,
    #7de7eb 29.82%,
    #5ce1e6 51.94%,
    #33bbcf 90.29%
  );
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  border: 0;
  border-radius: 0.3125rem;
  width: 100%;
  height: 2.5rem;
  margin-top: 3.125rem;
  color: black;
  font-size: 0.625rem;
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: 0rem 0.125rem rgba(0, 0, 0, 0.2);
  letter-spacing: 0.09375rem;
  cursor: pointer;
}

@media only screen and (max-width: 1400px) {
  .product-col {
    height: 55vh;
  }

  .app-container {
    flex-wrap: wrap;
  }
}
